<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a href="#page-top"><%= link_to 'Restauranteer', restaurants_path, class: 'navbar-brand page-scroll' %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? && current_user.admin? %>
          <li><%= link_to'<span class="glyphicon glyphicon-wrench"></span> Admin Dashboard'.html_safe, authenticated_root_path, class: 'page-scroll' %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to'<span class="glyphicon glyphicon-user"></span> User Dashboard'.html_safe, users_my_stars_path, class: 'page-scroll' %></li>
          <li><%= link_to'<span class="glyphicon glyphicon-log-out"></span> Logout'.html_safe, destroy_user_session_path, :method => :delete, class: 'page-scroll' %></li>
        <% else %>
          <li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Log in'.html_safe, new_user_session_path, class: 'page-scroll' %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-pencil"></span> Sign up'.html_safe, new_user_registration_path, class: 'page-scroll' %></li>
          <li><%= link_to '<i class="fa fa-twitter fa-lg" aria-hidden="true"></i> Sign in with Twitter'.html_safe, user_twitter_omniauth_authorize_path, class: 'page-scroll' %><li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
