<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav">
        <a class="navbar-brand" href="#"><li><%= link_to 'Restaurantier', restaurants_path %></li></a>
        <li>
          <%= form_tag(restaurants_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Restaurants" %>
            <%= submit_tag "Search", :name => nil %>
          <% end %>
        </li>
      <ul>
    </div>
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? && current_user.admin? %>
          <li><%= link_to'<span class="glyphicon glyphicon-wrench"></span> Admin Dashboard'.html_safe, authenticated_root_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to'<span class="glyphicon glyphicon-user"></span> User Dashboard'.html_safe, users_my_stars_path %></li>
          <li><%= link_to'<span class="glyphicon glyphicon-log-out"></span> Logout'.html_safe, destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Log in'.html_safe, new_user_session_path %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-pencil"></span> Sign up'.html_safe, new_user_registration_path %></li>
          <li><%= link_to 'Sign in with Twitter', user_twitter_omniauth_authorize_path, class: 'btn btn-info btn-sm' %><li>
        <% end %>
      </ul>
    </div>
</nav>